.custom-scrollbar {
  overflow-y: auto; /* Add vertical scroll */
}

/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #dededed5; /* Color of the scrollbar thumb */
  border-radius: 10px;
  border: 3px solid #f1f1f1; /* Border color around the thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #c7c7c7; /* Color of the scrollbar thumb when hovered */
}
